<kendo-toolbar ngSkipHydration>
  <kendo-toolbar-button text="DASHBOARD" class="custom-dashboard">dgdfg</kendo-toolbar-button>
  <kendo-toolbar-button text="AGENT MANAGEMENT" >
  </kendo-toolbar-button>

  <kendo-toolbar-button text="EZ QUOTE"></kendo-toolbar-button>
  <kendo-toolbar-button text="LEAD MANAGEMENT"></kendo-toolbar-button>
  <kendo-toolbar-button text="ACTIVITIES"></kendo-toolbar-button>
  <kendo-toolbar-button text="WORKFLOW"></kendo-toolbar-button>
  <kendo-toolbar-button text="CHAT"></kendo-toolbar-button>
</kendo-toolbar>
