
<div class="grid">
  <kendo-grid
        #myGrid
        [kendoGridBinding]="gridData2"
        kendoGridSelectBy="id"
        [(selectedKeys)]="mySelection"
        [selectable]="{ mode: 'multiple', drag: false }"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [groupable]="true"
        [reorderable]="true"
        [resizable]="true"  
        [height]="500"
        [columnMenu]="{ filter: true }"
          [data]="gridData"
      (edit)="editHandler($event)"
      (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler($event)"
        >

      <ng-template kendoGridToolbarTemplate>

        <div class="col-12 d-flex justify-content-between align-items-center">

        <div class="col- d-flex justify-content-space-between align-items-center">

          <div>
            <kendo-dropdownlist [style.width.px]="200" [data]="listItems" value="All Leads">
            </kendo-dropdownlist> 
          </div>

          <div class="mx-3">
              <kendo-dropdownlist [style.width.px]="200" [data]="listItems2" value="Select Saved Preference">
              </kendo-dropdownlist> 
          </div>
          
          <kendo-textbox #searchBox [style.width.px]="200" placeholder="Type Search Keyword" (valueChange)="onFilter($event)"></kendo-textbox>
          <kendo-grid-spacer></kendo-grid-spacer>
          <div class="greenbt p-2 rounded-3 ms-2" (click)="onFilter(searchBox.value)">
            <img src="assets/icons8-search-25.png" alt="Search Icon">
          </div>

        </div>

        <div class="col-6 d-flex justify-content-end justify-content-space-evenly g-2">

             <div class="  rounded-5 p-1 px-2 d-flex align-items-center justify-content-between w-25  bluebt">

              <button kendoButton  (click)="selectButton('non-intl')"  [ngClass]="['rounded-5', 'w-75', 'h-75', 'mx-2', selected === 'non-intl' ? 'active-btn' : 'inactive-btn']"  title="Browse" >Non-Intl.</button>
              
              <button kendoButton (click)="selectButton('intl')"  [ngClass]="['rounded-5', 'w-75', 'h-75', 'mx-2', selected === 'intl' ? 'active-btn' : 'inactive-btn']" 
              title="Browse"> Intl.</button>  
            </div>

          <button  kendoButton (click)="onButtonClick()" title="Browse" class="greenbt mx-2">Clear Filters</button>
          <button  kendoButton (click)="onButtonClick()" title="Browse" class="greenbt mx-2"> Bulk Edit</button>
          <button  kendoButton (click)="onButtonClick()" title="Browse" class="greenbt mx-2">Save Preference</button>
          <button  kendoButton fillMode="flat">
            <kendo-svgicon [icon]="menuIcon"></kendo-svgicon>
          </button>
        </div>
      </div>
      </ng-template>
      
      <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [class]="{ 'text-center': true }" [resizable]="false"
        [columnMenu]="false" [showSelectAll]="true">
      </kendo-grid-checkbox-column>
      
        <!-- <kendo-grid-column field="full_name" title="Actions" [width]="150">
          <ng-template kendoGridCellTemplate let-dataItem>
              <kendo-dropdowntree
                kendoDropDownTreeExpandable
                [kendoDropDownTreeHierarchyBinding]="areaData"
                textField="text"
                valueField="id"
                childrenField="areas"
                placeholder="Actions">
              </kendo-dropdowntree>
          </ng-template>
        </kendo-grid-column> -->

        <kendo-grid-column field="ProductID" title="Record Id" [width]="150">
        </kendo-grid-column>

        <kendo-grid-column field="ProductName" title="Last Name" [width]="150" [class]="{ 'text-center': true }" [resizable]="false" >
        </kendo-grid-column>

        <kendo-grid-command-column [width]="220">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
           <button kendoGridSaveCommand [disabled]="!!formGroup?.invalid">
              {{ isNew ? "Add" : "Update" }}
            </button>
  
            <button kendoGridCancelCommand>
              {{ isNew ? "Discard changes" : "Cancel" }}
            </button>
          </ng-template>
        </kendo-grid-command-column>

        <!-- <kendo-grid-column field="full_name" title="First Name" [width]="150" [class]="{ 'text-center': true }" [resizable]="false"
        filter="boolean">
        </kendo-grid-column>

        <kendo-grid-column field="address" title="Primary Email Address" [width]="190">
        </kendo-grid-column>

        <kendo-grid-column field="phone" title="Primary Phone Type" [width]="190">
        </kendo-grid-column>

        <kendo-grid-column field="budget" title="LMP Lead Id" [width]="130" filter="numeric">
        </kendo-grid-column>

        <kendo-grid-column field="phone" title="Appoitment Type" [width]="150">
        </kendo-grid-column>

        <kendo-grid-column field="target" title="Booking Agency" [width]="150">
        </kendo-grid-column> -->

      <!-- <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
      <kendo-grid-excel fileName="data.xlsx"></kendo-grid-excel>

    </kendo-grid>

</div>